{% extends "layout.html" %}
{% block content %}
    <div id ="main-section">
        <div id = "display-message-section">
        </div>
        <div id="input- area" class="input-group mb-3">
            <input type="text" id="input_msg" class="form-control" placeholder="Message" aria-label="Message">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" id="sendButton">Send</button>
            </div>
        </div>
    </div>
    <span id="get-username">{{ name }}</span>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

{% endblock content %}
